src/test/resources/05-SW-Software-Development/*
src/test/resources/docx_converter_ast_alt_styles_spec/*
src/test/resources/docx_converter_ast_spec/*
src/test/resources/docx_converter_ast_spec2/*
src/test/resources/docx_converter_attribute_ast_spec/*
src/test/resources/docx_converter_de_ast_spec/*
src/test/resources/docx_converter_de_ast_spec2/*
src/test/resources/docx_converter_en_ast_spec/*
src/test/resources/docx_converter_en_ast_spec2/*
src/test/resources/docx_converter_issues_ast_spec/*

