# Eclipse
.project
.classpath
.settings/
out/

# IntelliJ IDEA

# Maven
target/
/.idea/workspace.xml
/flexmark-java.wiki
/FlexmarkJavaAssets/
/lib/autolink-0.6.0.jar
/lib/autolink-0.6.0-sources.jar
/flexmark-docx-converter/src/test/resources/test_cases/
