# Eclipse
.project
.classpath
.settings/
out/

# IntelliJ IDEA

# Maven
target/
/.idea/workspace.xml
/flexmark-java.wiki
/FlexmarkJavaAssets/
/lib/autolink-0.6.0.jar
/lib/autolink-0.6.0-sources.jar
/flexmark-docx-converter/src/test/resources/test_cases/
/flexmark-docx-converter/src/test/resources/*/
/flexmark-docx-converter/src/test/java/com/vladsch/flexmark/docx/converter/ComboDocxUserSpecDisabled.java
/flexmark-docx-converter/src/test/resources/docx_user_ast_spec.md
/FlexmarkJavaAssets/EmojiReference/EmojiList-v11.0.html
/flexmark-docx-converter/src/test/resources/omml2mathml.xsl
/.idea/serialmonitor_settings.xml
/flexmark-pdf-converter/src/test/resources/html_sample.html
/flexmark-docx-converter/src/test/resources/docx_converter_ast_spec2/
/flexmark-docx-converter/src/test/resources/docx_converter_ast_spec/
/flexmark-docx-converter/src/test/resources/docx_converter_attribute_ast_spec/
/flexmark-empty-template.docx
/flexmark-docx-converter/src/test/resources/InlineImageLeft.docx
/flexmark-docx-converter/src/test/resources/InlineImageLeft.s.xml
/flexmark-docx-converter/src/test/resources/InlineImageLeft.xml
/flexmark-docx-converter/src/test/resources/InlineImageRight.docx
/flexmark-docx-converter/src/test/resources/InlineImageRight.s.xml
/flexmark-docx-converter/src/test/resources/InlineImageRight.xml
/flexmark-docx-converter/src/test/resources/PageBreak.s.xml
/flexmark-docx-converter/src/test/resources/PageBreak.xml
/flexmark-docx-converter/src/test/resources/Tab.s.xml
/flexmark-docx-converter/src/test/resources/Tab.xml
/assets/comms/
/lib/
